<template name="custom_layout">
  {{#if appIsReady}}
    {{> css}}
    <div class="outer-wrapper {{currentPage}} {{navLayout}}">
      {{> mobile_nav}}
      <div class="inner-wrapper template-{{pageName}}">
        {{> header}}
        <section class="blog-list-3 bg-white">
          <div class="blog-snippet-3">
            <div class="container">
              <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                  {{#if notAllowed}}
                    {{> Template.dynamic template=notAllowed.template data=notAllowed.data}}
                  {{else}}
                    {{> Template.dynamic template=adminMenu}}
                    {{> modules zone="contentTop"}}
                    {{> Template.dynamic template=main}}
                    {{> modules zone="contentBottom"}}
                  {{/if}}
                  {{> modules zone="footer"}}
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="overlay hidden"></div>
      </div>
      {{{extraCode}}}
    </div>
  {{else}}
    <div class="app-loading">{{> loading}}</div>
  {{/if}}
</template>
